<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sygma_solution_system.My.MySettings.odbc_sygma_lokal" connectionString="Dsn=syspro" providerName="System.Data.Odbc"/>
        <add name="sygma_solution_system.My.MySettings.ConnectionString" connectionString="Dsn=exapro" providerName="System.Data.Odbc"/>
        <add name="sygma_solution_system.My.MySettings.exapro_mutif_161120ConnectionString1" connectionString="User Id=postgres;Host=RANA-HP14BF0001;Database=exapro_mutif_161120;Schema=public" providerName="CoreLab.PostgreSql.Entity"/>
        <add name="sygma_solution_system.My.MySettings.exapro_mutif_20210111ConnectionString" connectionString="User Id=postgres;Host=localhost;Database=exapro_mutif_20210111;Persist Security Info=True;Schema=public" providerName="CoreLab.PostgreSql.Entity"/>
        <add name="sygma_solution_system.My.MySettings.exapro_mutif_02052021ConnectionString" connectionString="User Id=postgres;Host=localhost;Database=exapro_mutif_02052021;Schema=public" providerName="CoreLab.PostgreSql.Entity"/>
        <add name="sygma_solution_system.My.MySettings.exapro_mutif_20210730ConnectionString" connectionString="User Id=postgres;Host=localhost;Database=exapro_mutif_20210730;Persist Security Info=True;Schema=public" providerName="CoreLab.PostgreSql.Entity"/>
        <add name="sygma_solution_system.My.MySettings.exapro_mutif_20210812ConnectionString" connectionString="User Id=postgres;Host=localhost;Database=exapro_mutif_20210812;Persist Security Info=True;Schema=public" providerName="CoreLab.PostgreSql.Entity"/>
        <add name="sygma_solution_system.My.MySettings.exapro_mutif_20210830ConnectionString" connectionString="User Id=postgres;Host=localhost;Database=exapro_mutif_20210830;Persist Security Info=True;Schema=public" providerName="CoreLab.PostgreSql.Entity"/>
        <add name="sygma_solution_system.My.MySettings.exapro_mutif_20210903ConnectionString" connectionString="User Id=postgres;Password=bangkar;Host=localhost;Database=exapro_mutif_20210903;Persist Security Info=True;Schema=public" providerName="CoreLab.PostgreSql.Entity"/>
        <add name="sygma_solution_system.My.MySettings.exapro_mutif_20210905ConnectionString" connectionString="User Id=postgres;Password=bangkar;Host=localhost;Database=exapro_mutif_20210905;Schema=public" providerName="CoreLab.PostgreSql.Entity"/>
        <add name="sygma_solution_system.My.MySettings.exapro_mutif_20210906ConnectionString" connectionString="User Id=postgres;Password=bangkar;Host=localhost;Database=exapro_mutif_20210906;Persist Security Info=True;Schema=public" providerName="CoreLab.PostgreSql.Entity"/>
        <add name="sygma_solution_system.My.MySettings.exapro_mutif_02052021ConnectionString1" connectionString="User Id=postgres;Host=localhost;Database=exapro_mutif_02052021;Persist Security Info=True;Schema=public" providerName="CoreLab.PostgreSql.Entity"/>
        <add name="sygma_solution_system.My.MySettings.ssb_ck_20230627_20230721ConnectionString" connectionString="User Id=postgres;Host=localhost;Database=ssb_ck_20230627_20230721;Schema=public" providerName="CoreLab.PostgreSql.Entity"/>
        <add name="sygma_solution_system.My.MySettings.exapro_mutif_02052021_20230721ConnectionString" connectionString="User Id=postgres;Host=localhost;Database=exapro_mutif_02052021_20230721;Schema=public" providerName="CoreLab.PostgreSql.Entity"/>
        <add name="sygma_solution_system.My.MySettings.exapro_mutif_02052021_20230825ConnectionString" connectionString="User Id=postgres;Host=localhost;Database=exapro_mutif_02052021_20230825;Schema=public" providerName="CoreLab.PostgreSql.Entity"/>
        <add name="sygma_solution_system.My.MySettings.sygma_cmds_20121028ConnectionString" connectionString="User Id=postgres;Password=bangkar;Host=localhost;Database=sygma_cmds_20121028;Persist Security Info=True;Schema=public" providerName="CoreLab.PostgreSql.Entity"/>
        <add name="sygma_solution_system.My.MySettings.ssb_sss_20230911_20240711_uplinkConnectionString" connectionString="User Id=postgres;Host=localhost;Database=ssb_sss_20230911_20240711_uplink" providerName="CoreLab.PostgreSql.Entity"/>
        <add name="sygma_solution_system.My.MySettings.ssb_ksm_20230911_uplink_20240723ConnectionString" connectionString="User Id=postgres;Host=localhost;Database=ssb_ksm_20230911_uplink_20240723;Initial Schema=public" providerName="Devart.Data.PostgreSql"/>
        <add name="sygma_solution_system.My.MySettings.ssb_ksm_20230911_uplink_20240723ConnectionString1" connectionString="User Id=postgres;Host=LOCALHOST;Database=ssb_ksm_20230911_uplink_20240723;Initial Schema=public" providerName="Devart.Data.PostgreSql"/>
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
	<runtime>
    <NetFx40_LegacySecurityPolicy enabled="true"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.5.3700.0" newVersion="10.5.3700.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.Windows.Forms" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.5.3700.0" newVersion="10.5.3700.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.5.3700.0" newVersion="10.5.3700.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
